.container{
    color: rgb(23, 89, 89);    
}
.digit{
    font-size: 150px;
}
.txt{
    font-size: 40px;
}
.btn-container{
    margin-top: 50px;
    text-align: center;
}
.btn{
    border: 0px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    margin: 0px 20px 0px 20px;
    font-size: 15px;
    color: rgb(85, 81, 81);
}
#start{
    background-color: aquamarine;
}
#stop{
    background-color: cornflowerblue;
}
#reset{
    background-color: crimson;
}